@import 'tailwindcss';

@layer base {
    a[href],
    button:not(:disabled),
    select:not(:disabled),
    input[type='checkbox']:not(:disabled),
    input[type='radio']:not(:disabled) {
        cursor: pointer;
    }

    select {
        appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%2307559e'%3E%3Cpath fill-rule='evenodd' d='M5.23 7.21a.75.75 0 0 1 1.06.02L10 11.17l3.71-3.94a.75.75 0 1 1 1.08 1.04l-4.25 4.5a.75.75 0 0 1-1.08 0l-4.25-4.5a.75.75 0 0 1 .02-1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E");
        background-position: right 1.125rem center;
        background-repeat: no-repeat;
        background-size: 0.875rem;
        padding-right: 3.5rem !important;
    }

    .required-label::after {
        color: var(--color-rose-600);
        content: ' *';
    }

    label:has(input[aria-invalid]):not(:has(.required-label)) > span::after {
        color: var(--color-rose-600);
        content: ' *';
    }
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
