@import 'tailwindcss';

@layer base {
    a[href],
    button:not(:disabled),
    select:not(:disabled),
    input[type='checkbox']:not(:disabled),
    input[type='radio']:not(:disabled) {
        cursor: pointer;
    }

    .required-label::after {
        color: var(--color-rose-600);
        content: ' *';
    }

    label:has(input[aria-invalid]):not(:has(.required-label)) > span::after {
        color: var(--color-rose-600);
        content: ' *';
    }
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
